<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appjam.team16"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- This app will require at least a fake touchscreen. -->
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!-- This app recommends use of a mic. -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.appjam.team16.AnswerQuestionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_answer_question"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.appjam.team16.ListViewCheckboxesActivity"
            android:label="@string/title_activity_view_questions" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appjam.team16.ViewQuizzesActivity"
            android:label="@string/title_activity_view_quizzes" >
        </activity>

        <provider
            android:name=".Team16ContentProvider"
            android:authorities="com.appjam.team16.team16contentprovider" >
        </provider>
    </application>

</manifest>